<div class="container">
  <div class="row">
    <h2 style="color: #3e3e3e; letter-spacing: 1.5px; text-align:center; margin-top: 80px;">SmartDictionary</h2>
  </div>
  
  <div class="row" style="text-align: center;">
    
    <button class="btn btn-lg btn-warning" id="loading"><span class="fa fa-refresh glyphicon-refresh-animate"></span> Searching...</button>

  </div>

  <div class="row">
    <div id="search-box" class="col-md-8 col-md-offset-2">
      
      <input type="text" name="Search" id="Search" placeholder="Enter search term..." class="form-control custom-input">
      <button class="btn btn-default pull-right" id="btn-submit"> Search </button>

    </div>
  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div id="search-result"></div>
    </div>
  </div>
</div>

<script>
    document.getElementById('Search').onkeypress = function(e){
        if (!e) e = window.event;
        var keyCode = e.keyCode || e.which;
        if (keyCode == '13'){
            ajaxCall();

            return false;
        }
    };

  $('button#btn-submit').click(function(){
      ajaxCall();
  });

    var ajaxCall = function(){
        $.ajax({
            url: '/search',
            type: 'post',
            data: 'search=' + $('input#Search').val(),
            dataType: "json",
            success: function(data) {
                $("#search-result").html('');

                for(var i = 0; i < 5; i ++) {
                    $("#search-result").append(" <img src='"+ data['img_links'][i] + "' class='col-md-2 img-responsive'>");
                }

                $("#search-result").append('<br><br>');
                $("#search-result").append('<div class="row">');
                $("#search-result").append('<br><br>');

                $("#search-result").append(data['word_meaning']);

                $("#search-result").append('</div>');

                $("#Search").val('');
            }
        });
    }

  $( document ).ajaxStart(function() {
    $("#loading").css('opacity', 1);
  });

  $( document ).ajaxComplete(function() {
    $("#loading").css('opacity', 0);
  });
</script>