<div class="container">
  <div class="row">
    <h2 style="color: #3e3e3e; letter-spacing: 1.5px; text-align:center; margin-top: 80px;">SmartSearch</h2>
  </div>

  <div class="row">
    <div id="search-box" class="col-md-8 col-md-offset-2">
      
      <input type="text" name="Search" id="Search" placeholder="Enter search term..." class="form-control custom-input">
      <button class="btn btn-default pull-right" id="btn-submit"> Search </button>

    </div>
  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div id="search-result"></div>
    </div>
  </div>
</div>

<script>
  $('button#btn-submit').click(function(){
    $.ajax({
      url: '/search',
      type: 'post',      
      data: 'search=' + $('input#Search').val(),
      dataType: "json",
      success: function(data) {              
        $("#search-result").html('');
        $("#search-result").append(data['word_meaning']);
      }
    });
  });
</script>