// Place all the styles related to the scrapts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.custom-input {
  display: inline-block;
  width: 75%;
  float: left;
}

.ct-form-tag {
  width: 70%;
  margin: auto;
  display: block;
}

#search-box {
  margin-top: 40px;
}

#search-result {
	margin-top: 50px;	
	margin-bottom: 80px;
}

#loading {
	opacity: 0;
	margin: auto;
	margin-top: 20px;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}